<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Words with Strangers 🤔</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shirnk-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/index.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
        <script>
            alert("This webpage is only optimized for mobile view and is a work in progress! Please continue at your own discretion.");
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="img-icon" src="img/logo.png">;
                    <a class="navbar-brand" href="/index">WWS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Home</a></li>
		    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>

            </div>
        </nav>	
        <div class="view" id="view-main">
            <div class="container">
	        <div class="graphics">
                    <div align="right">
	                <h1> Fun. </h1>
	                <h1> Easy to learn. </h1>
	                <h2> Outsmart your opponents.</h2>
	            </div>
	            <br> <br>
                    <h2> About <font color="#6699ff"> Words with Strangers </font> </h2>
	            <div class="div1"> <br> 
	               <p> Our application is a simple chat based game where the objective is to get the opponent to say a certain word in the chat room. Words will be selected at random from a users collection of words. Words can be purchased and traded through our Marketplace. Users will start off with a random set of words.<br> <br> 
<b>Real time opponents</b>: <strong><font color="#6699ff">Words with Strangers</font> </strong> sets you up with an opponent at random. <br> <br> 
<b>Expand your collection</b>: <strong><font color="#6699ff">Words with Strangers</font> </strong> allows players to unlock or purchase new words and/or packages through secure transactions. <br> <br> 
<b>Your information is kept safe with high level encryption.</b> </p> </div>


                <h2> Usage </h2>
                <div class="div1">
                    <br>
                    <p>Connect with strangers and start playing immediately! Users will be given access to all game functions upon creation of an account and the Marketplace area where words can be traded, purchased, or unlocked. Purchases and transactions are kept secure through TODAQ.<br> <br> 
					<strong><font color="#6699ff">Words with Strangers</font> </strong> will connect you with real time opponents. <br><br> 

                </div>

                    <h2> Terms of Service </h2>
	            <div class="div1">
	                <br>
	                <p> Thanks for using our products and services (“Services”). The Services are provided by WWS llc (“Words with Strangers”), located at 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States. <br> <br> 
                    By using our Services, you are agreeing to these terms. Please read them carefully.
                    </p>
	            
                    <h3> Purchasing words for your <strong><font color="#6699ff">Words with Strangers</font> </strong> Account </h3> 
                
                    <br>
                    <p> You need a <strong><font color="#6699ff">Words with Strangers</font> </strong> account in order to purchase and trade new word packages. Each pack will have a boosted rate for a certain set of words (specified per package with increased rate). Word packages can also be purchased using game credits that are earned every time a user plays a game and wins. Word packages differ in prices. Words can be traded between users in the Marketplace.  <br> <br> 
					To protect your <strong><font color="#6699ff">Words with Strangers</font> </strong> Account, keep your password confidential. You are responsible for the activity that happens on or through your <strong><font color="#6699ff">Words with Strangers</font> </strong> Account. Try not to reuse your <strong><font color="#6699ff">Words with Strangers</font> </strong> account password on third-party applications. Do not share your password and username with anyone else. This will lead to termination of your account. If you learn of any unauthorized use of your password or <strong><font color="#6699ff">Words with Strangers</font> </strong> Account, contact an administrator at 1800 967-1111. 

                    </p>
                <br> 
                    <h3> Modifying and Terminating our Services </h3>
                
                    <br>
                    <p> We are constantly changing and improving our Services. We may add or remove functionalities or features, and we may suspend or stop a Service altogether.<br><br>
					You can stop using our Services at any time, although we’ll be sorry to see you go. <strong><font color="#6699ff">Words with Strangers</font> </strong> may also stop providing Services to you, or add or create new limits to our Services at any time.<br><br>
					We believe that you own your data and preserving your access to such data is important. If we discontinue a Service, where reasonably possible, we will give you reasonable advance notice and a chance to get information out of that Service.

                    </p>
                <br> </div>
	            <br>
	            <br>
                    <p align="right"> <strong><font color="#6699ff">Words with Strangers</font> </strong> is a idea 
                    developped for a hackathon. </p>
	        </div> 
            </div>
        </div>       
    </body>
</html>
